/* ,-,--.  ,--.--------.                            ,----.  
 ,-.'-  _\/==/,  -   , -\,--.-.  .-,--. _.-.     ,-.--` , \ 
/==/_ ,_.'\==\.-.  - ,-./==/- / /=/_ /.-,.'|    |==|-  _.-` 
\==\  \    `--`\==\- \  \==\, \/=/. /|==|, |    |==|   `.-. 
 \==\ -\        \==\_ \  \==\  \/ -/ |==|- |   /==/_ ,    / 
 _\==\ ,\       |==|- |   |==|  ,_/  |==|, |   |==|    .-'  
/==/\/ _ |      |==|, |   \==\-, /   |==|- `-._|==|_  ,`-._ 
\==\ - , /      /==/ -/   /==/._/    /==/ - , ,/==/ ,     / 
 `--`---'       `--`--`   `--`-`     `--`-----'`--`-----``  */

window#waybar {
	background-color: rgba(50, 50, 50, 0.6);
	color: #ffffff;
}

* {
	padding: 0 10px;
	border-radius: 20px;
	background: rgba(255, 90, 120, 0.2);
}
