/* ,-,--.  ,--.--------.                            ,----.  
 ,-.'-  _\/==/,  -   , -\,--.-.  .-,--. _.-.     ,-.--` , \ 
/==/_ ,_.'\==\.-.  - ,-./==/- / /=/_ /.-,.'|    |==|-  _.-` 
\==\  \    `--`\==\- \  \==\, \/=/. /|==|, |    |==|   `.-. 
 \==\ -\        \==\_ \  \==\  \/ -/ |==|- |   /==/_ ,    / 
 _\==\ ,\       |==|- |   |==|  ,_/  |==|, |   |==|    .-'  
/==/\/ _ |      |==|, |   \==\-, /   |==|- `-._|==|_  ,`-._ 
\==\ - , /      /==/ -/   /==/._/    /==/ - , ,/==/ ,     / 
 `--`---'       `--`--`   `--`-`     `--`-----'`--`-----``  */

#window {
        border: none;
        background-color: rgba(255, 90, 120, 0.3);
}

#input {
        margin-top: 10px;
        background-color: rgba(255, 90, 120, 0.7);
}

#entry:selected, #entry:selected list, #input {
        background: rgba(255, 90, 120, 0.7);
}

#text {
        background-color: rgba(0, 0, 0, 0);
}
